body {
	font-family: sans-serif;
}

a:hover {
	text-decoration: underline;
}

div.navbar {
	background-color: #022e5b;
	color: #ffffff;
}

i.hamburger {
	color: #ffffff;
}

h1.title {
	font-size: 1.25em;
	margin-bottom: 0;
}

h1.title a {
	color: #ffffff;
}


.cta a {
	background-color: #FD610D;
	color: #ffffff;
	text-decoration: none;
}

div.cta a:hover,
div.cta a:active,
div.cta a:focus {
	background-color: #ffffff;
	color: #FD610D;
}

div.believe {
	background-color: #f3f3f3;
}

div.believe p {
	font-size: 1.2em;
	color: #022e5b;
}

h4.headline {
	font-size: 1.75em;
	font-style: italic;
	font-family: serif;
	color: #00b1ed;
}

div.post h4.date {
	font-size: 1em;
	font-family: sans-serif;
	color: #00b1ed;
}

div.footer {
	background-color: #022e5b;
	color: #ffffff;
}

div.footer h6 {
	font-weight: bold;
}

div.footer h6, div.footer a {
	display: block;
	color: #00a8e1;
}

div.footer a {
	margin-bottom: 0.25em;
}
